 

 .wrapper {
 	background-color: Turquoise;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
   background-image: -webkit-linear-gradient(30deg, #364549, transparent 5px, #fff);
background-image: -moz-linear-gradient(30deg, #364549, transparent 5px, #fff);
background-image: linear-gradient(30deg, #364549, transparent 1px, #fff);
 }

 .jumbotron{
 	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: -2;
	margin-bottom: 0;
 }
#header {
 	position: absolute;
 	top: 40vh;
 	font-size: 5em;
 	-webkit-text-fill-color:transparent;
	-webkit-text-stroke:2px WhiteSmoke;
 }

 #close-login, #close-signup {
 	position: relative;
 	top: 3%;
 	left: 98%;
 	color: turquoise;
 	font-size: 1.5em;
 }
 #close-login:hover, #close-signup:hover {
 	color: firebrick;
 }
 .foal {
 	-moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
 	 filter: FlipH;
   -ms-filter: "FlipH";
   position: absolute;
   right: 5vw;
   top: 40vh;
 }
 .icon{
 	text-align: center;
 	bottom: 10%;
 	position: absolute;
 }
.fa-toggle-down {
	text-align: center;
	font-size: 4em;
	margin: auto;
	width: 100%;
	color: WhiteSmoke;
}
 
 .slide {
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
	/*overflow: hidden;*/
	padding-top: 50px;
}

 .fa-plus-circle{
 	opacity: .4;
 }
 .books>img {
 	position: relative;
 	
 }
 #book2 {
 	top: 63px;
 	z-index: 14;
 }
 #book3 {
 	top: 120px;
 	z-index: 15;
 }
 #book4 {
 	top: 180px;
 	z-index: 16;
 }
 #book5 {
 	top: 229px;
 	left: 16px;
 	z-index: 17;
 }

 .user-image {
 	border-radius: 20px;
 	margin-top: 20px;
 }
 .book-image {
 	height: 70%;
 }
 .profile {
 	position: relative;
 }
 .profile, .thick-border {
 	border-radius: 20px;
 	border: 10px solid turquoise;
 	box-shadow: 7px 7px 7px;
 	background-color: rgba(255,255,255, 0.8);
 }
 .profile-wrapper {
 	margin: 50px;
 }
 .dotted-border{
 	padding: 10px;
 	border: 1px dashed turquoise;
 	border-radius: 20px;
 }
.friends {
	padding: 10px 24%;
}
.title, span.author {
	color: rgba(0,0,0,0.3);
	font-size: .6em;
	line-height: 1em;
}
.popup {
	position: absolute;
	width: 500px;
	/*height: 150px;*/
	text-align: center;
	background-color: rgba(255,255,255, 0.9);
	z-index: 20000;
}
.popup-img {
	height: 130px;
}
.login {
	position: absolute;
	background-color: rgba(255,255,255, 0.6);
	top: 35%;
	padding: 25px;
	color: DimGray;
}
.signup {
	position: absolute;
	background-color: rgba(255,255,255, 0.6);
	top: 15%;
	padding: 25px;
	color: DimGray;
}
.login>h2, .signup>h2 {
	-webkit-text-fill-color:transparent;
	-webkit-text-stroke:1px Black;
}
.rating {
	display: inline;
	font-size: 1.5em;
}

i {
	color: GoldenRod;
}
#popup-rating i {
	font-size: .7em;
}
img.friend {
	height: 60px;
	width: 60px;
}
#k-bye {
	position: absolute;
	top: 50%;
	left: 50%;
}

